.carrinho__titulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.1rem;
}
.item-carrinho {
  margin-bottom: 2rem;

  border-bottom: 2px solid var(--preto-transparente);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);

  padding-bottom: 1.5rem;

  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.carrinho__imagem {
  box-shadow: 5px 5px 16px rgb(0 0 0 / 35%);
  width: 5rem;
  margin-left: 1rem;
}

.carrinho__texto {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 50% 50%;
  row-gap: 5px;
  align-items: center;
}

.carrinho__texto > h4{
  color: var(--preto);
}

.carrinho__excluir {
  justify-self: self-end;
  position: relative;
  top: 4px;
}

.carrinho__titulo {
  color: var(--preto);
}

.carrinho__quantidade::after {
  padding-left: .5rem;
  padding-right: 0.2rem;
  content: url(../../img/icon/chevron.png);
  background-repeat: no-repeat;
}

.carrinho_valores {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 20px;
  margin-bottom: 20px;
}

.carrinho_valores > p:nth-child(even){
  justify-self: end;
}


.carrinho_valores > p:nth-child(n + 5){
  color: var(--preto);
}

